/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
**.php~
/*.sublime-*
/web/files/
/bin/
/composer.phar
*.swp
*.swo
.idea/*
/csis_sql/
/web/js/
/web/css/
/web/images/
/web/img/
