<h1>Bonjour {{ user.username }} !</h1>

<p>Vous pouvez réinitialiser votre mot de passe en cliquant ici : <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>

<p>
    Cordialement,<br />
    Base de données équipement
</p>
