{% set laboratory = equipment.laboratory %}
{% set institution = laboratory.institution %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#informations" data-toggle="tab">Informations</a></li>
    <li><a href="#proprietaire" data-toggle="tab">Propriétaire</a></li>
    <li><a href="#contacts" data-toggle="tab">Contacts</a></li> 
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="informations">
        {% include 'CSISEamBundle:Equipment:profilCard.html.twig' %}
    </div>

    <div class="tab-pane" id="proprietaire">
        {% include 'CSISEamBundle:Institution:profilCard.html.twig' %}
        <hr/>
        {% include 'CSISEamBundle:Laboratory:profilCard.html.twig' %}
    </div>

    <div class="tab-pane" id="contacts">
        <dl>
          <dt>Contacts</dt>
          <dd>
            {% if equipment.contacts is not empty %}
            <ul>
                {% for contact in equipment.contacts %}
                    <li>{{ contact }} &lt;<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>&gt;</li>
                {% endfor %}
            </ul>
            {% else %}
                <span class="muted">Aucun contact</span>
            {% endif %}
          </dd>
        </dl>
    </div>
</div>