{% set laboratory = equipment.laboratory %}
{% set institution = laboratory.institution %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#informations" data-toggle="tab">Informations</a></li>
    <li><a href="#proprietaire" data-toggle="tab">Hébergeur</a></li>
    <li><a href="#owners" data-toggle="tab">Contacts</a></li>

</ul>
<div class="tab-content">
    <div class="tab-pane active" id="informations">
        {% include 'CSISEamBundle:Equipment:profilCard.html.twig' %}
    </div>

    <div class="tab-pane" id="proprietaire">
        {% include 'CSISEamBundle:Institution:profilCard.html.twig' %}
        <hr/>
        {% include 'CSISEamBundle:Laboratory:profilCard.html.twig' %}
    </div>

    <div class="tab-pane" id="owners">
        <dl>
          <dt>Contacts</dt>
          <dd>
            {% if equipment.owners is not empty %}
            <ul>
                {% for owner in equipment.owners %}
                    <li>{{ owner.firstName }} {{ owner.lastName }} &lt;<a href="mailto:{{ owner.email }}">{{ owner.email }}</a>&gt;</li>
                {% endfor %}
            </ul>
            {% else %}
                <span class="muted">Aucun contact</span>
            {% endif %}
          </dd>
        </dl>
    </div>
</div>
