<ul class="nav nav-tabs">
    <li class="active"><a href="#informations" data-toggle="tab">Informations</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="informations">
        <h3>Espace d'informations</h3>
        <p>Cet espace affiche les informations relatives à votre selection</p>
        <p>Pour afficher les informations concernant votre selection, veuillez cliquer dessus.</p>
    </div>
</div>