{% set laboratory = equipment.laboratory %}
{% set institution = laboratory.institution %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#informations" data-toggle="tab">Informations</a></li>
    <li><a href="#instition" data-toggle="tab">Institution</a></li>
    <li><a href="#laboratoire" data-toggle="tab">Laboratoire</a></li> 
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="informations">
        {% include 'CSISEamBundle:Equipment:profilCard.html.twig' %}
    </div>
    <div class="tab-pane" id="instition">
        {% include 'CSISEamBundle:Institution:profilCard.html.twig' %}
    </div>
    <div class="tab-pane" id="laboratoire">
        {% include 'CSISEamBundle:Laboratory:profilCard.html.twig' %}
    </div>
</div>