{# Propritétés de la catégorie sélectionnée #}
<h3>{{ category.name }}</h3>
    <p><span class="muted">Description : </span> {{ category.description }}</p>

{# Definition des bouttons #}
{% if is_granted("ROLE_GEST_CATEGORIE") %}
    <div class="pull-right">
        <div class="span2">
            <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-success btn-block" data-toggle="tooltip" title="Modifier la famille">
                <i class="icon-edit icon-white"></i>
                Modifier
            </a>
        </div>

        <div class="span2">
            <a href="{{ path('category_ask_delete', { 'id': category.id }) }}" class="btn btn-danger btn-block" data-toggle="tooltip" title="Supprimer la famille">
                <i class="icon-trash icon-white"></i>
                Supprimer
            </a>
        </div>
    </div>
{% endif %}
<p><br/></p>