{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

    <div class="row">
        <div class="span12">
            {% include 'CSISEamBundle:Eam:flash.html.twig' %}
            {% include 'CSISEamBundle:Eam:mainflash.html.twig' %}
        </div>
    </div>

<div class="row">
    
    {# Propritétés de la Famille #}
    <div class="span12">
        <div class="well">
            <h4>Fiche de la Famille : {{ category.name }}
                {# Definition des bouttons #}
                <div class="pull-right">
                    <div class="span1">
                        <a href="{{ path('category', { 'id': category.id }) }}" class="btn btn-info btn-block" data-toggle="tooltip" title="Retour à la liste des Familles">
                            <i class="icon-list-alt icon-white"></i>
                            Liste
                        </a>
                    </div>
                </div>
            </h4>
            <p><br/></p>
   
            {# Insertion de la carte de profil #}
            {% include 'CSISEamBundle:Category:profilCard.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}