body {
  background-color: #e2e2e2;
  margin-top: 20px;
}

.container {
  background-color: white;
  border-top: 2px solid #bbb;
  padding: 5px;
}

.pull-center {
  text-align: center;
}

.parenthese {
  width: 40px;
  height : 10px;
}
