{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

  <article class="span9">
    <header >
      <h1>Le&nbsp;CSIS</h1>
    </header>

    <div>
      <p style="text-align:justify;">
        <img alt="ens_img_1333359175154_cropped" style="float: right; padding-left: 20px" src="http://csissaclay.files.wordpress.com/2013/03/ens_img_1333359175154_cropped.jpg?w=584" />
        Créé en 2009, le <span style="color:#d90066;">Collège des Sciences de l&rsquo;Ingénierie et des Systèmes</span> 
        (CSIS) est une structure collaborative entre 4 établissements d&rsquo;Enseignement Supérieur et de Recherche:
      </p>
      <ul style="text-align:justify;">
        <li>Ecole Centrale Paris</li>
        <li>Ecole normale supérieure de Cachan</li>
        <li>Supélec</li>
        <li>Université Paris Sud</li>
      </ul>
      <p style="text-align:justify;">
        pour les <span style="color:#d90066;">Sciences pour l&rsquo;Ingénieur</span> et les 
        <span style="color:#d90066;">Sciences et Techniques de l&rsquo;Information et de la Communication</span>.
      </p>
      <p style="text-align:justify;">
        Jouant le rôle de <span style="color:#d90066;">creuset à idées</span>, le CSIS initie et 
        mène des actions communes entre ces établissements.
      </p>
      <p style="text-align:justify;">
        Il contribue activement à la création de la <span style="color:#d90066;">School of Engineering and 
          Information Science and Technologies</span> (SEIST), une composante importante de la future Université Paris-Saclay.
      </p>
      <p style="text-align:justify;">
        Il associe à ses actions les autres établissements membres de la future School, et se coordonne 
        avec la Fondation de Coopération Scientifique Paris-Saclay (FCS Paris-Saclay).
      </p>
      <p style="text-align:justify;">
        Le CSIS est à l&rsquo;origine du projet <span style="color:#d90066;">LaSIPS</span> (Laboratoire Systèmes et 
        Ingénierie de Paris Saclay), qui a obtenu le label Laboratoire d&rsquo;Excellence (LABEX) en 2011.
      </p>
    </div>
    <footer></footer>
  </article>

{% endblock %}
