{# On affiche tous les messages flash dont le nom est « main_error » #}
{% for message in app.session.flashbag.get('main_error') %}
<div class="alert alert-error">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message|raw }}
</div>
{% endfor %}

{# On affiche tous les messages flash dont le nom est « main_valid » #}
{% for message in app.session.flashbag.get('main_valid') %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message|raw }}
</div>
{% endfor %}