{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

<div class="row">
  <div class="span5 offset1">
    <div class="well">
      <form action="{{ path('equipment_credentials_add', {'id': equipment.id}) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
          <legend>Ajouter un propriétaire</legend>
          {{ form_widget(form) }}
          <br />
          <button type="submit" class="btn btn-success">Ajouter</button>
          <a href="{{ path('equipment_credentials', {'id': equipment.id}) }}" class="btn">
             Annuler
          </a>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}