{% extends 'CSISEamBundle::layout.html.twig' %}

{% block csis_body %}

<div class="row">
  
  <form action="{{ path('equipment_update', {'id' : equipment.id}) }}" method="post" {{ form_enctype(form) }}>
  
    {% include "CSISEamBundle:Equipment:form_content.html.twig" with 
      {
        'title': 'Modification d\'un équipement',
        'icon_type'  : 'icon-refresh icon-white',
        'button_name': 'Mise à jour',
        'button_back_name': 'Retour'
      }
    %}

  </form>

 </div>
  <hr/>
  {% render "CSISEamBundle:Equipment:editTags" with {'equipment': equipment.id } %}
{% endblock %}

{% block page_js %}
  {% include "CSISEamBundle:Equipment:form_js.html.twig" %}
{% endblock %}