<script>
  jQuery(document).ready(function() {

    // Récupère le div qui contient la collection des contacts
    var collectionHolderOwner = $('div.owners');
    var add_buttonOwner = $('#add_new_owner');
    

    // ajoute un lien de suppression à tous les éléments li de
    // formulaires de owners existants
    collectionHolderOwner.children('div').each(function() {
      attachAjax($(this).children('input'), '{{ url('user_autocomplete') }}');
      addOwnerFormDeleteLink($(this));
    });

    add_buttonOwner.on('click', function(e) {
      // ajoute un nouveau formulaire contact (voir le prochain bloc de code)
      e.preventDefault();
      $newForm = addOwnerForm(collectionHolderOwner);
    });

  });

  function addOwnerForm(collectionHolder) {
    // Récupère l'élément ayant l'attribut data-prototype
    var prototype = collectionHolder.attr('data-prototype');
    var length = collectionHolder.children().length;
    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
    // la longueur de la collection courante
    var $newForm = $('<div><label>Adresse email du propriétaire :</label>' + prototype.replace(/__name__/g, length) + '</div>');

    // Affiche le formulaire dans la page dans un div, avant le lien "ajouter un owner"
    collectionHolder.append($newForm);
    attachAjax($newForm.children('input'), '{{ url('user_autocomplete') }}');
    // ajoute un lien de suppression au nouveau formulaire
    addOwnerFormDeleteLink($newForm);

    return $newForm;
  }

  function addOwnerFormDeleteLink($tagForm) {
    var $removeFormButton = $('<a class="btn btn-warning"><i class="icon-trash icon-white"></i></a>');
    var $input = $tagForm.children('input');

    $input.wrap('<div class="input-append" />');
    $input.parent().append($removeFormButton);

    $removeFormButton.on('click', function(e) {
      // supprime l'élément div pour le formulaire d'owner
      e.preventDefault();
      $tagForm.remove();
    });
  }

  function attachAjax($input, url) {
    $input.autocomplete({
      source: function(requete, reponse) {
        $.ajax({
          url: url,
          dataType: 'json',
          type: 'POST',
          data: {
            input: $input.val()
          },
          success: function(donnee) {
            reponse(donnee);
          },
//          select: function(event, ui) {
//              $input.addClass('uneditable-input');
//          }
        });
      }
    });
  }
</script>
