<script>
  jQuery(document).ready(function() {

    // Récupère le div qui contient la collection des contacts
    var collectionHolderContact = $('div.contacts');
    var add_buttonContact = $('#add_new_contact');
    

    // ajoute un lien de suppression à tous les éléments li de
    // formulaires de contacts existants
    collectionHolderContact.children('div').each(function() {
      attachAjax($(this).children('input'), '{{ url('people_autocomplete') }}');
      addContactFormDeleteLink($(this));
    });

    add_buttonContact.on('click', function(e) {
      // ajoute un nouveau formulaire contact (voir le prochain bloc de code)
      e.preventDefault();
      addContactForm(collectionHolderContact);
    });

  });

  function addContactForm(collectionHolder) {
    // Récupère l'élément ayant l'attribut data-prototype
    var prototype = collectionHolder.attr('data-prototype');
    var length = collectionHolder.children().length;
    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
    // la longueur de la collection courante
    var $newForm = $('<div><label>Adresse email du contact :</label>' + prototype.replace(/__name__/g, length) + '</div>');

    // Affiche le formulaire dans la page dans un div, avant le lien "ajouter un contact"
    collectionHolder.append($newForm);
    attachAjax($newForm.children('input'), '{{ url('people_autocomplete') }}');
    // ajoute un lien de suppression au nouveau formulaire
    addContactFormDeleteLink($newForm);
  }

  function addContactFormDeleteLink($tagForm) {
    var $removeFormButton = $('<button class="btn btn-warning"><i class="icon-trash icon-white"></i></button>');
    var $input = $tagForm.children('input');

    $input.wrap('<div class="input-append" />');
    $input.parent().append($removeFormButton);

    $removeFormButton.on('click', function(e) {
      // supprime l'élément div pour le formulaire de contact
      e.preventDefault();
      $tagForm.remove();
    });
  }

  function attachAjax($input, url) {
    $input.autocomplete({
      source: function(requete, reponse) {
        $.ajax({
          url: url,
          dataType: 'json',
          type: 'POST',
          data: {
            input: $input.val()
          },
          success: function(donnee) {
            reponse(donnee);
          }
        });
      }
    });
  }
</script>